body {
    padding: 0;
    width: 1200px;
}
body, .container, #joke {
    margin: 0 auto;
}
#get-joke, #joke {
    border-radius: 8px;
    font-weight: bold;
}
.container {
    width: 700px;
    height: 400px;
    text-align: center;
    margin-top: 100px;
    background-color: lightcoral;
    border: 2px solid black;
    border-radius: 10%;
}
.container #get-joke {
    width: 250px;
    height: 35px;
    font-size: 20px;
    margin-top: 80px;
    border: 0px;
}
.container #get-joke:hover {
    background-color: mediumpurple;
}
.container #joke {
    font-size: 22px;
    border: 0px;
    width: 600px;
    max-height: 300px;
    margin-top: 50px;
    background-color: powderblue;
    padding: 20px;
}